# Ігноруємо системні файли
__pycache__/
*.pyc
*.pyo

# Ігноруємо середовище virtualenv
venv/
.env
*.env

# Логи та тимчасові файли
logs/
*.log
*.sqlite

# Ігноруємо налаштування редакторів
.vscode/
.idea/
*.iml

# Ігноруємо залежності встановлені вручну
*.egg-info/
dist/
build/
